---
// Third-party dependencies
import type { DeYoPaTu, User } from "@prisma/client";

// Current project dependencies
import BackgroundPortal from "../../Common/BackgroundPortal";
import AuthorEditBox from "./AuthorEditBox.astro";
import FooterInfo from "./FooterInfo.astro";
import Pagination from "./Pagination.astro";
import SpotifyTrackEmbed from "./SpotifyTrackEmbed.astro";
import UnAuthenticateUserBox from "./UnAuthenticateUserBox.astro";

type Props = {
  deyopatu: DeYoPaTu;
  isTheAuthor: boolean;
  creator: User;
  currentIndex: number;
  total: number;
  prevDeYoPaTuLink: string;
  nextDeYoPaTuLink: string;
  isAuthenticate: boolean;
};

const {
  deyopatu,
  isTheAuthor,
  creator,
  currentIndex,
  nextDeYoPaTuLink,
  prevDeYoPaTuLink,
  total,
  isAuthenticate,
} = Astro.props;
---

<div class="flex flex-col items-center gap-2">
  <BackgroundPortal
    client:load
    hover={deyopatu.thumbnailSrc ? true : false}
    src={deyopatu.thumbnailSrc || ""}
  />

  <div class="w-full max-w-3xl flex-1 space-y-3 overflow-auto text-center">
    <div class="w-full flex-1 space-y-3 overflow-auto rounded-lg text-center">
      <div
        class="mx-auto w-full max-w-3xl rounded-xl border border-white/40 bg-white/80 p-6 shadow-lg backdrop-blur-md dark:border-gray-700/40 dark:bg-gray-800/40"
      >
        {
          deyopatu.title && (
            <h1 class="mb-4 text-4xl font-bold text-teal-700 dark:text-teal-400">
              {deyopatu.title}
            </h1>
          )
        }

        {
          deyopatu.thumbnailSrc && (
            <div class="mx-auto mb-4 w-full max-w-xl">
              <img
                alt={deyopatu.title}
                class="mb-6 h-auto w-full rounded-lg object-cover"
                loading="lazy"
                src={deyopatu.thumbnailSrc}
                transition:animate="slide"
              />
            </div>
          )
        }

        <p
          class="text-center font-medium whitespace-pre-wrap text-gray-700 dark:text-gray-300"
        >
          {deyopatu.content}
        </p>

        {
          deyopatu.spotifyEmbedTrackSrc && (
            <SpotifyTrackEmbed
              title={deyopatu.title || ""}
              trackSrc={deyopatu.spotifyEmbedTrackSrc}
            />
          )
        }

        <FooterInfo creator={creator} writtenAt={String(deyopatu.createdAt)} />
      </div>
    </div>

    {isTheAuthor && <AuthorEditBox deyopatuId={deyopatu.id} />}

    {
      !isAuthenticate && (
        <UnAuthenticateUserBox isAuthenticated={isAuthenticate} />
      )
    }

    <Pagination
      currentIndex={currentIndex}
      nextDeYoPaTuLink={nextDeYoPaTuLink}
      prevDeYoPaTuLink={prevDeYoPaTuLink}
      total={total}
    />
  </div>
</div>
